
/*

font-family: 'Homemade Apple', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Freckle Face', cursive;
*/
body {
    background-color: rgb(19, 19, 20);
}

li:hover    {
 background-color: rgb(62, 145, 99);
 color: rgb(7, 48, 1);
 font-weight: bolder;
 
}   
li      {
   
    font-family: 'Special Elite', cursive;
    
}

#logo   {
    color: azure;
    font-family: 'Special Elite', cursive;

}

.hero-text {
    font-family: 'Special Elite', cursive;
    color: white;
    position: absolute;
    top:20%;
    left: 30%;
}   

#content {
    background-color: rgb(19, 19, 20);
    color: rgb(80, 207, 91);
}