
/*

font-family: 'Homemade Apple', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Freckle Face', cursive;
*/

li:hover    {
 background-color: rgb(62, 145, 99);
 color: rgb(7, 48, 1);
 font-weight: bolder;
 
}   
li      {
   
    font-family: 'Special Elite', cursive;
    
}

#logo   {
    color: azure;
    font-family: 'Special Elite', cursive;

}

img {    
    filter: grayscale(100%);
}
img:hover {
    filter: grayscale(0%);
}