
body {
    background-color: rgb(19, 19, 20);
}

li:hover    {
 background-color: rgb(20, 124, 43);
 
 font-weight: bolder;
 
}   
li      {
    font-family: 'Special Elite', cursive;
}
h2      {
    color: white;
    font-family: 'Special Elite', cursive; 
}

#logo   {
    color: azure;
    font-family: 'Special Elite', cursive;

}

#hero-div1 {
    position:relative;
}
#hero-text1 {
    font-family: 'Special Elite', cursive;
    color: white;
    z-index:1;
    position: absolute;
    top: 10%;
    left: 10%;
}   

#hero-text2 {
    font-family: 'Special Elite', cursive;
    color: white;
    z-index:1;
    max-width: 40%;
    position: absolute;
    top:37%;

    left: 50%;
}   

#hero-text3 {
    font-family: 'Special Elite', cursive;
    color: white;
    z-index:1;
    max-width: 30%;
    position: absolute;
    top:75%;
    left: 8%;
}   


#content {
    background-color: rgb(19, 19, 20);
    color: #43ca27;
}

.rounded-circle {
    filter: grayscale();

}
.rounded-circle:hover{
    filter: none;
}